{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<h2>Ingreso</h2>
<form method="POST">
    <div class="mb-3">
        <label for="correo" class="form-label">Correo Electrónico</label>
        <input type="email" name="correo" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" name="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Ingresar</button>
    <a href="{{ url_for('main.registro') }}" class="btn btn-link">Registrarse</a>
</form>
{% endblock %}
